{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col-md-6">
        <div class="card shadow border-0 mb-4">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0"><i class="bi bi-check-circle"></i> Słowa w tekstach TEMATYCZNYCH</h5>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Słowo</th>
                            <th>Ilość</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for word, count in tematyczne %}
                        <tr>
                            <td>{{ word }}</td>
                            <td>{{ count }}</td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-md-6">
        <div class="card shadow border-0 mb-4">
            <div class="card-header bg-dark text-white">
                <h5 class="mb-0"><i class="bi bi-info-circle"></i> Słowa w tekstach POZOSTAŁYCH</h5>
            </div>
            <div class="card-body p-0">
                <table class="table table-sm table-hover mb-0">
                    <thead class="table-light">
                        <tr>
                            <th>Słowo</th>
                            <th>Ilość</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for word, count in pozostale %}
                        <tr>
                            <td>{{ word }}</td>
                            <td>{{ count }}</td>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}