{% extends "base.html" %}
{% block content %}
<div class="p-5 mb-4 bg-light rounded-3 shadow-sm text-center border border-dark border-5">
    <h1 class="display-5 fw-bold">Klasyfikator Tekstów: Imola 1994</h1>
    <p class="fs-4">System analizy semantycznej</p>
    <p>Projekt analizuje zgodność tekstów względem 6 ról semantycznych dopasowanych do słynnego wypadku na torze Imola w 1994 roku</p>
    <a class="btn btn-primary btn-lg" href="/teksty">ANALIZA</a>
</div>

<style>
    body {
        background-image: url("{{ url_for('static', filename='back.avif') }}");
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        background-repeat: no-repeat;
        margin: 0;
        padding: 0;
        min-height: 100vh;
    }
</style>
{% endblock %}